# Emacs backups
\#*#
.#*
*~

# Vim backups
.*.sw[po]

# Patch files
*.orig
*.rej
*.diff
*.patch

# Account created during test
accounts/keystore/*
!accounts/keystore/put-key-files-here

# NPM files
/node_modules/

build

#Mac OS specific
.DS_Store
